<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div><img [src]="data.image" class="w-100" alt="" srcset="" /></div>
    </div>

    <div class="col-lg-6">
      <h2>{{ data.title }}</h2>
      <p>{{ data.description }}</p>
      <p>{{ data.category }}</p>

      <h3 class="my-3">
        {{ data.amount }}
        <span class="text-decoration-line-through"> {{ data.price }}</span> ({{
          data.discount
        }}% off)
      </h3>
    </div>
  </div>
  <div class="row">
    <div *ngIf="data.userImage" class="mb-3 col-lg-12">
      <label for="formFile" class="form-label">Upload Image</label>
      <input
        class="form-control"
        type="file"
        id="formFile"
        (change)="addFile($event)"
      />
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Select Print Type:</label>
      <select
        id="inputState"
        class="form-select"
        [(ngModel)]="frameDeatails.printType"
      >
        <option selected>Choose...</option>
        <option
          *ngFor="let print of data.availablePrintType"
          [value]="print.categoryName"
          class=""
        >
          {{ print.categoryName }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputState1" class="form-label">Select Size</label>
      <select
        id="inputState1"
        class="form-select"
        [(ngModel)]="frameDeatails.size"
      >
        <option selected>Choose...</option>
        <option
          *ngFor="let print of data.availablePrintSize"
          [value]="+print.width + ' x ' + +print.height + ' inche'"
          class=""
        >
          {{ print.width }} x {{ print.height }} inche
        </option>
      </select>
    </div>
    <div class="col-md-12">
      <label for="inputCity" class="form-label">Quantity</label>
      <input
        type="number"
        [max]="data.quantity - 1"
        min="1"
        class="form-control"
        id="inputCity"
        [(ngModel)]="frameDeatails.quantity"
      />
    </div>
    <button (click)="addCart(data._id)" class="my-3 btn btn-primary">
      Add to cart
    </button>
    <button (click)="buyNow(data._id)" class="btn btn-success">Buy Now</button>
  </div>

  <table class="table">
    <tr *ngFor="let info of data.additionalInfo">
      <td>{{ info.title }}</td>
      <td>{{ info.description }}</td>
    </tr>
  </table>

  <strong>Review</strong>

  <ng-container class="mx-5" *ngIf="new_review">
    <div class="d-flex align-items-top">
      <span class="avatar">{{ new_review.charAt(0).toUpperCase() }}</span>
      <p class="mt-2">
        {{ new_review }}
        <app-star-rating (user_rating)="getrating($event)"></app-star-rating>
      </p>
    </div>
    <div class="position-relative mt-0 mx-lg-5">
      <input
        type="text"
        class="form-control pe-5"
        placeholder="Write Your Review.."
        name="review"
        [formControl]="comment"
      />
      <i
        class="bi bi-send-plus-fill text-success absolute"
        (click)="addrating()"
      ></i>
    </div>
  </ng-container>
  <ng-container *ngFor="let review of data.reviews">
    <div class="d-flex align-items-top my-4">
      <span class="avatar">{{
        review.user.username.charAt(0).toUpperCase()
      }}</span>
      <div class="content pt-2">
        <p class="m-0 p-0 fw-medium">{{ review.user.username }}</p>
        <app-star-rating
          [readonly]="true"
          [rating]="review.rating"
        ></app-star-rating>
        <p class="m-0 p-0">
          {{ review.comment }}
        </p>
      </div>
    </div>
    <hr *ngIf="reviews.length > 1" />
  </ng-container>

  <h2>Gifts</h2>

  <div class="row">
    <div *ngFor="let gift of gifts" class="col-lg-3">
      <img [src]="gift.thumbnail" alt="" srcset="" width="150" height="150" />
      <h4>{{ gift.name }}</h4>
      <input
        type="number"
        class="form-control"
        placeholder="quantity"
        min="1"
        [max]="gift.quantity"
        [(ngModel)]="gift.selected_quantity"
      />
      <h5>{{ gift.selected_quantity * gift.price }}</h5>
      <button
        *ngIf="!isGiftSelected(gift._id)"
        (click)="addGift(gift)"
        class="btn btn-primary"
      >
        Add
      </button>
      <button
        *ngIf="isGiftSelected(gift._id)"
        class="btn btn-danger"
        (click)="removeGift(gift)"
      >
        Remove
      </button>
    </div>
  </div>
</div> -->

<main class="main">
  <!--=============== DETAILS ===============-->
  <section class="details section--lg">
    <div class="details__container container grid">
      <div class="details__group">
        <img [src]="data.image" alt="" class="details__img" />
      </div>
      <div class="detailscroll">
        <div class="details__group">
          <h3 class="details__title">{{ data.title }}</h3>
          <!-- <p class="details__brand">Brand: <span>adidas</span></p> -->
          <div class="details__price flex">
            <span class="new__price">${{ data.amount }}</span>
            <span class="old__price">${{ data.price }}</span>
            <span class="save__price">{{ data.discount }}% Off</span>
          </div>
          <a class="form-label" style="color: rgb(57, 57, 57)"> Category: </a>
          <a class="short__description" style="color: rgb(106, 106, 106)">
            {{ data.category.categoryName }}
          </a>
          <br />
          <br />
          <a class="form-label" style="color: rgb(57, 57, 57)">
            Description:
          </a>
          <a class="short__description" style="color: rgb(106, 106, 106)">
            {{ data.description }}
          </a>
          <div *ngIf="data.userImage" class="details__meta">
            <div class="meta__list">
              <label class="form-label" for="customFile">Upload Image:</label>
              <input
                type="file"
                class="form-control"
                id="customFile"
                (change)="addFile($event)"
              />
            </div>
          </div>

          <div style="display: flex; justify-content: space-between">
            <div class="details__meta">
              <div class="meta__list">
                <p class="form-label">Select Print Type:</p>
                <select
                  id="quantitySelect"
                  [(ngModel)]="frameDeatails.printType"
                >
                  <option
                    *ngFor="let print of data.availablePrintType"
                    [value]="print.categoryName"
                    class=""
                  >
                    {{ print.categoryName }}
                  </option>
                </select>
              </div>
            </div>

            <!-- <span class="details__size-title">Size</span> -->
            <div class="details__meta">
              <div class="meta__list">
                <p class="form-label">Size:</p>
                <select id="quantitySelect" [(ngModel)]="frameDeatails.size">
                  <option
                    *ngFor="let print of data.availablePrintSize"
                    [value]="+print.width + ' x ' + +print.height + ' inche'"
                    class=""
                  >
                    {{ print.width }} x {{ print.height }} inche
                  </option>
                </select>
              </div>
            </div>
            <div class="details__meta">
              <div class="meta__list">
                <p class="form-label">Quantity:</p>
                <input
                  type="number"
                  class="quantity"
                  [max]="data.quantity - 1"
                  min="1"
                  [(ngModel)]="frameDeatails.quantity"
                />
              </div>
            </div>
          </div>

          <section class="new__arrivals container section">
            <h3 class="section__title" data-aos="fade-right">
              <span>New</span> Arrivals
            </h3>
            <div class="new__container swiper">
              <div class="swiper-wrapper">
                <ng-container *ngFor="let gift of gifts; let i = index">
                  <div
                    class="product__item swiper-slide"
                    data-aos="flip-right"
                    data-aos="flip-right"
                  >
                    <div class="product__banner">
                      <a class="product__images1">
                        <img
                          [src]="gift.thumbnail"
                          alt=""
                          class="product__img default"
                        />
                      </a>
                      <!-- <div class="product__actions">
                      <a (click)="addWish(gift._id)" class="action__btn" aria-label="Add to Wishlist">
                        <i class="fi fi-rs-heart"></i>
                      </a>
                    </div> -->
                    </div>
                    <div class="product__content">
                      <a>
                        <h3 class="product__title">{{ gift.name }}</h3>
                      </a>
                      <div class="product__price flex">
                        <span class="new__price">${{ gift.price }}</span>
                      </div>
                    </div>
                    <div>
                      <button
                        *ngIf="isGiftSelected(gift._id)"
                        class="btn btn-danger"
                        (click)="removeGift(gift)"
                      >
                        Remove
                      </button>
                      <button
                        *ngIf="!isGiftSelected(gift._id)"
                        class="btn btn-danger"
                        (click)="addGift(gift)"
                      >
                        Add
                      </button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div class="swiper-button-prev">
                <i class="fi fi-rs-angle-left"></i>
              </div>
              <div class="swiper-button-next">
                <i class="fi fi-rs-angle-right"></i>
              </div>
            </div>
          </section>

          <section id="faq" class="">
            <div data-aos="fade-up">
              <div class="details__meta">
                <div class="meta__list">
                  <p class="form-label">Get Offers:</p>
                </div>
              </div>

              <div
                class="row justify-content-center"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="col-lg-10">
                  <div class="accordion accordion-flush" id="faqlist">
                    <div class="accordion-item">
                      <h3 class="accordion-header">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#faq-content-1"
                        >
                          Get Flat 10% off, for first time users
                        </button>
                      </h3>
                      <div
                        id="faq-content-1"
                        class="accordion-collapse collapse"
                        data-bs-parent="#faqlist"
                      >
                        <div class="accordion-body">
                          Terms & Conditions Code is valid for the first time
                          buyers only Code can be used one time per user only A
                          minimum order value of ₹699 is required to be eligible
                          for this offer Max discount of ₹100 can be availed
                          Discount is not applicable on shipping fees Offer is
                          not applicable on gold & silver items, electronics and
                          gift cards Offer is for a limited time period only &
                          can be modified or discontinued without prior
                          intimation Offer cannot be clubbed with any other
                          ongoing offers or codes
                        </div>
                      </div>
                    </div>
                    <!-- # Faq item-->

                    <div class="accordion-item">
                      <h3 class="accordion-header">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#faq-content-2"
                        >
                          Get Flat 15% Cashback, Use Code LOYAL
                        </button>
                      </h3>
                      <div
                        id="faq-content-2"
                        class="accordion-collapse collapse"
                        data-bs-parent="#faqlist"
                      >
                        <div class="accordion-body">
                          Terms & Conditions A minimum order value of ₹599 is
                          required to be eligible for this offer Max discount of
                          ₹200 can be availed Cashback is valid upto 90 days
                          Discount is not applicable on shipping fees Offer is
                          not applicable on gold & silver items, electronics and
                          gift cards Offer is for a limited time period only &
                          can be modified or discontinued without prior
                          intimation Offer cannot be clubbed with any other
                          ongoing offers or codes
                        </div>
                      </div>
                    </div>
                    <!-- # Faq item-->

                    <div class="accordion-item">
                      <h3 class="accordion-header">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#faq-content-3"
                        >
                          Flat 5% cashback upto INR 750 (New user to Simpl)
                        </button>
                      </h3>
                      <div
                        id="faq-content-3"
                        class="accordion-collapse collapse"
                        data-bs-parent="#faqlist"
                      >
                        <div class="accordion-body">
                          Terms & Conditions Get 5% cashback up to INR 750 on
                          your first transaction on Simpl A minimum order value
                          of INR 749 is required to be eligible for this offer
                          Offer valid once per user on Simpl, during the offer
                          period Offer is valid only for New Users to Simpl
                          Offer valid from 1st March to 31st March 2024 No
                          coupon code is required Eligible cashback amount and
                          details will reflect in the user's Simpl account,
                          within 5 minutes of a successful transaction The
                          eligible amount will be credited to a user’s Simpl
                          account post settlement of the current dues Cashback
                          will be cancelled in case of full refunds or
                          cancellation of orders To check your transaction
                          history and cashback amount, download the Simpl App
                          available on Google Play Store & the App store Happy
                          to assist you with further concerns. Please write to
                          help&#64;getsimpl.com. Or chat with the Simpl team on
                          the Simpl app
                        </div>
                      </div>
                    </div>
                    <!-- # Faq item-->

                    <div class="accordion-item">
                      <h3 class="accordion-header">
                        <button
                          class="accordion-button collapsed"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#faq-content-4"
                        >
                          Get upto 15% cashback on a transaction with Mobikwik
                          wallet!
                        </button>
                      </h3>
                      <div
                        id="faq-content-4"
                        class="accordion-collapse collapse"
                        data-bs-parent="#faqlist"
                      >
                        <div class="accordion-body">
                          Terms & Conditions Get upto 15% cashback on a
                          transaction with Mobikwik wallet! Transaction to be
                          done through Mobikwik wallet only. Offer can be
                          availed on a minimum transaction of INR 800/- Validity
                          till 29th February 2024.
                        </div>
                      </div>
                    </div>
                    <!-- # Faq item-->
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div style="display: block; justify-content: space-between">
            <div class="details__action">
              <!-- <input type="number" class="quantity" value="3" /> -->
              <a (click)="addCart(data._id)" class="btns btn--sm"
                >Add To Cart</a
              >
              <!-- <a href="#" class="details__action-btn">
              <i class="fi fi-rs-heart"></i>
            </a> -->
            </div>

            <div class="details__action">
              <!-- <input type="number" class="quantity" value="3" /> -->
              <a (click)="buyNow(data._id)" class="btns1 btn--sm">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--=============== DETAILS TAB ===============-->
  <section class="details__tab container mb-5">
    <div class="detail__tabs">
      <span class="detail__tab active-tab" data-target="#info">
        Additional Info
      </span>
    </div>
    <div class="details__tabs-content">
      <div class="details__tab-content active-tab" content id="info">
        <table class="info__table">
          <tr *ngFor="let info of data.additionalInfo">
            <th>{{ info.title }}</th>
            <td>{{ info.description }}</td>
          </tr>
        </table>
      </div>
      <!-- <div class="details__tab-content" content id="reviews">
        <div class="reviews__container grid">
          <div class="review__single">
            <div>
              <img src="assets/img/avatar-1.jpg" alt="" class="review__img" />
              <h4 class="review__title">Jacky Chan</h4>
            </div>
            <div class="review__data">
              <div class="review__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <p class="review__description">
                Thank you, very fast shipping from Poland only 3days.
              </p>
              <span class="review__date">December 4, 2022 at 3:12 pm</span>
            </div>
          </div>
          <div class="review__single">
            <div>
              <img src="assets/img/avatar-2.jpg" alt="" class="review__img" />
              <h4 class="review__title">Meriem Js</h4>
            </div>
            <div class="review__data">
              <div class="review__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <p class="review__description">Great low price and works well</p>
              <span class="review__date">August 23, 2022 at 19:45 pm</span>
            </div>
          </div>
          <div class="review__single">
            <div>
              <img src="assets/img/avatar-3.jpg" alt="" class="review__img" />
              <h4 class="review__title">Moh Benz</h4>
            </div>
            <div class="review__data">
              <div class="review__rating">
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
                <i class="fi fi-rs-star"></i>
              </div>
              <p class="review__description">
                Authentic and beautiful, Love these ways more than ever
                expected, They are great earphones.
              </p>
              <span class="review__date">March 2, 2021 at 10:01 am</span>
            </div>
          </div>
        </div>
        <div class="review__form">
          <h4 class="review__form-title">Add a review</h4>
          <div class="rate__product">
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
          </div>
          <form action="" class="form grid">
            <textarea
              class="form__input textarea"
              placeholder="Write Comment"
            ></textarea>
            <div class="form__group grid">
              <input type="text" placeholder="Name" class="form__input" />
              <input type="email" placeholder="Email" class="form__input" />
            </div>
            <div class="form__btn">
              <button class="btn">Submit Review</button>
            </div>
          </form>
        </div>
      </div> -->
    </div>
  </section>

  <!-- <section class="products container section--lg">
    <h3 class="section__title"><span>Related</span> Products</h3>
    <div class="new__container swiper">
      <div class="swiper-wrapper">
        <div
          *ngFor="let related of relatedProduct"
          class="product__item swiper-slide"
          data-aos="flip-right"
        >
          <div class="product__banner">
            <a [routerLink]="['/product', related._id]" class="product__images">
              <img [src]="related.image" alt="" class="product__img default" />
              <img
                src="assets/img/product-1-2.jpg"
                alt=""
                class="product__img hover"
              />
            </a>
            <div class="product__actions">
              <a
                (click)="addWish(related._id)"
                class="action__btn"
                aria-label="Add to Wishlist"
              >
                <i class="fi fi-rs-heart"></i>
              </a>
            </div>
          </div>
          <div class="product__content">
            <span class="product__category">{{
              related.category.categoryName
            }}</span>
            <a [routerLink]="['/product', related._id]">
              <h3 class="product__title">{{ related.title }}</h3>
            </a>
            <div class="product__price flex">
              <span class="new__price">${{ related.amount }}</span>
              <span class="old__price">${{ related.price }}</span>
              <a
                [routerLink]="['/product', related._id]"
                class="action__btn cart__btn"
                aria-label="Add To Cart"
              >
                <i class="fi fi-rs-shopping-bag-add"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <i class="fi fi-rs-angle-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fi fi-rs-angle-right"></i>
      </div>
    </div>
  </section> -->
</main>
