<header class="header">
  <!-- <div class="header__top">
      <div class="header__container container">
        <div class="header__contact">
          <span><i class="fa-brands fa-whatsapp"></i></span>
          <span><i class="fa-brands fa-facebook-f"></i>(+91 9144493444)</span>
        </div>
        <div>
          <a href="login-register.html" class="header__top-action"><i class="bi bi-person"></i>
            Log In / Sign Up
          </a>
        </div>
      </div>
    </div> -->

  <nav class="nav container">
    <a href="#"  (click)="nav()" class="nav__logo" data-aos="fade-right">
      <!-- <img class="nav__logo-img" src="assets/img/Untitled_logo_2_free-file.jpg" alt="website logo" /> -->
      <p class="onetext">REPLICA</p>
      <p class="twotext">GIFTS</p>
    </a>
    <div class="nav__menu" id="nav-menu">
      <div class="nav__menu-top">
        <a href="#"  (click)="nav()" class="nav__menu-logo">
          <!-- <img src="./assets/img/logo.svg" alt=""> -->
          <p class="onetext">REPLICA</p>
          <p class="twotext">GIFTS</p>
        </a>
        <div class="nav__close" id="nav-close">
          <i class="fi fi-rs-cross-small"></i>
        </div>
      </div>
      <ul class="nav__list" data-aos="fade-left">
        <li class="nav__item">
          <a href="#"  (click)="nav()" class="nav__link active-link"
            ><i class="bi bi-house"></i>Home</a
          >
        </li>
        <li class="nav__item">
          <a (click)="navShop()" class="nav__link"
            ><i class="bi bi-shop"></i>Shop</a
          >
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link"><i class="bi bi-list"></i>Categories</a>
          <div id="dropdown">
            <ng-container *ngFor="let cate of category">
              <a (click)="navToCate(cate._id)">{{ cate.categoryName }}</a>
            </ng-container>
          </div>
        </li>

        <li class="nav__item">
          <a (click)="navToProfile()" class="nav__link"
            ><i class="bi bi-person"></i>My Account</a
          >
        </li>

        <li class="nav__item">
          <a href="#contact" class="nav__link"
            ><i class="bi bi-telephone"></i>Contact</a
          >
        </li>
        <!-- <li class="nav__item">
            <a href="login-register.html" class="nav__link">Login</a>
          </li> -->
      </ul>
      <!-- <div class="header__search" data-aos="fade-left">
          <input type="text" placeholder="Search Photos..." class="form__input" />
          <button class="search__btns">
            <img src="assets/img/search-icon.svg" alt="search icon" />
          </button>
        </div> -->
    </div>
    <div class="header__user-actions" data-aos="fade-left">
      <a (click)="navWish()" class="header__action-btn" title="Wishlist">
        <img src="../../../assets/assets/img/love (1).png" alt="" />
        <span *ngIf="noOfWish > 0" class="count">{{ noOfWish }}</span>
      </a>
      <a (click)="navCart()" class="header__action-btn" title="Cart">
        <img src="../../../assets/assets/img/shopping-cart (1).png" alt="" />
        <span *ngIf="noOfCart > 0" class="count">{{ noOfCart }}</span>
      </a>
      <div class="header__action-btn nav__toggle" id="nav-toggle">
        <img src="../../../assets/assets//img/menu-burger.svg" alt="" />
      </div>
    </div>
  </nav>
</header>
